body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('Geld.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.atm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background-color: #4a4c3f;
    border: 2px solid #d3d6061a;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.screen {
    position: relative;
}

.atm-image {
    max-width: 100%;
    border: 2px solid #a0a0a0;
    border-radius: 5px;
    margin-top: 20px;
    filter: grayscale(200%); /* Ändert das Bild in Graustufen */
}

.center-container {
    position: relative;
}

.centered-text {
    position: absolute;
    top: 70%; /* Anpassung des Abstands von oben */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-top: 20px; /* Anpassung des Abstands nach unten */
}

.centered-text a {
    color: #007bff;
    text-decoration: none;
}

.input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    padding: 15px;
    border: 2px solid #a0a0a0;
    border-radius: 5px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    display: block;
    width: 30%;
    text-align: left;
}

.kontonummer-input,
.pin-input {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.buttons-container {
    margin-top: 20px;
}

.button {
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.button:nth-child(1) {
    background-color: #ffd700; /* Goldene Farbe für Korrektur */
}

.button:nth-child(2) {
    background-color: #5cb85c; /* Grüne Farbe für Bestätigen */
}

.button:nth-child(3) {
    background-color: #d9534f; /* Rote Farbe für Abbrechen */
}

.button:hover {
    opacity: 0.8;
}

.keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.keyboard-button {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.keyboard-button:hover {
    background-color: #0056b3;
}
